<%= simple_form_for @pokemon do |p| %>
  <%= p.input :name %>
  <%= p.collection_radio_buttons(
    :ndex, (1..649).map {|ndex| [ndex, ndex]}, :first, :last
  ) do |b| %>
  <div class="pokemon-choice-container">
    <%= b.label { image_tag("pokemon/#{b.text}.png") + b.radio_button } %>
  </div>
  <% end %>
 <%= p.button :submit, class: "create-pokemon-btn" %>
<% end %>