<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemons Captured: 
	<tbody>
		<% @trainer.pokemons.each do |poke| %>
				Name: <%= poke.name %>
				Pokemon Level: <%=  poke.level %>
				<%= image_tag("pokemon/#{pokemon.ndex}.png", alt: "pokemon") if poke.ndex %>
				
			<% end %>
	</tbody>
	
</p>
